@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-pt-20;
    @apply select-none;
    @apply overflow-x-hidden;
  }
}

@layer utilities {
  .hover-change-color {
    @apply dark:hover:text-pink;
    @apply hover:text-blue;
  }

  .grayed-text {
    @apply text-deepGray;
    @apply dark:text-lightGray;
  }

  .grayed-border {
    @apply border-lightGray;
    @apply dark:border-deepGray;
  }

  .pointer {
    @apply hover:cursor-pointer;
  }

  .light-base {
    @apply bg-lightGray text-light-text;
  }

  .dark-base {
    @apply bg-dark-bg text-dark-text;
  }

  .visuallyHidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    overflow: hidden;
    white-space: nowrap;
  }

  .markdown {
    @apply prose max-w-full select-text prose-li:marker:text-black dark:prose-invert dark:prose-li:marker:text-gray lg:mt-5 lg:max-w-[75%];
  }
}
